* {
	margin: 0;
	padding: 0;
}

body {	
	color: #000;
  font-family: 'Caveat', cursive;
  background-color: rgba(217, 215, 215, 0.968);
}


.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display:grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas:            
                         "header-menu header-menu header-menu"
						 "contenido contenido contenido"						 
						 "footer footer footer";
}
.contenedor > div,
.contenedor .header-menu,
.contenedor .contenido,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px ;
}



.galeria{
    box-sizing: border-box;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
    width: 95%;
    margin:auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
    font-size: 1.5vw;
}

.galeria img{
    width: 100%;
    vertical-align: top;
    height: 25vh;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria > a{
    display: block;
    position: relative;
    overflow:hiden;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    font-size: 1.5vw;


}

.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);

}
.linea{
    background-color: rgb(3, 34, 34);
    height: 1px;
    width: 100%;
    display: block;
    font-size: 1.5vw;
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    transition: transform .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);

}

.light-box img{
    width: 55vw;
    max-height: 70vh;
}

.light-box:target{
    transform: scale(1);
}

.close  {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: #851919 ;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next{
    display: block;
    background-color: #851919;
    color: white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}

.contenedor .header-menu{ 
    background-color: white;
    overflow: hidden;
    grid-area: header-menu;
    border: 1px solid #555;
    background-image: url('../images/fondo.jpg');
  }
  
  .header-menu ul{
    list-style: none;      
   /* font-family: 'Pacifico', cursive;*/
}

  /* Style the links inside the navigation bar */
  .header-menu a {
    float: left;
    color: white;    
    padding: 18px 16px;
    text-decoration: none;
    font-size: 1.5vw;
  }
  
  /* Change the color of links on hover */
  .header-menu a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .header-menu a.active {
    background-color: #04AA6D;
    color: white;
  }

  



.titulo {
    position: relative; 
    bottom: 0;   
    color: white; 
    width: 100%; 
    text-align: center;
    font-size: 2.5vw;
    text-shadow: 2px 2px 4px grey;
  }
  .tituloContenido {
    position: relative; 
    bottom: 0; 
    font-size: 2.5vw;
    color: black;
    width: 100%;     
    text-align: center;
   
  }
.contenedor .contenido {
	grid-area: contenido;
    border: 1px solid black;
}

.imagen{
    width: auto;
    height: auto;
    opacity: 1;
}


.contenedor .footer {

	color: black;
	grid-area: footer;
  text-align: center;
  border: 1px solid black;
}


.redsoc{
  color: black;
  font-size: 1.5vw;
  text-align: center;

}

.redsoc a{
  color: aqua;
  margin: 0px 6px;
  font-size: 2vw;
}
.redsoc a:hover{
  color: rgb(81, 112, 216);
  
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  
  .contenedor {
    
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display:grid;
    grid-gap: 20px; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "header-menu header-menu header-menu"
    "contenido contenido contenido"						 
    "footer footer footer";
  }
  .header-menu a {
    padding: 12px 10px;
    font-size: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display:grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
      
  "header-menu header-menu header-menu"
  "contenido contenido contenido"	
					 
  "footer footer footer";
}
.header-menu a {    
  font-size: 18px;
}
}


@media only screen and (max-width: 400px) { 
   .galeria{
       grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
   }

   .close{
       top:20px;
       right: 20px;
   }
  }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
   
    .contenedor {
        grid-template-areas:       
                    
        "header-menu header-menu  header-menu"
        "contenido contenido  contenido"										 
                "footer footer footer";
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
.contenedor {
  grid-template-areas:     
                
           "header-menu header-menu  header-menu"
           "contenido contenido  contenido"						 
           "footer footer footer";
}
}

